body {
	background-color: #aaaaaa;
}
a:link {
    color: #ffffff;
	text-decoration: none;
}
a:visited {
    color: #ffffff;
}
a:hover {
    color: #c25a3d
}
a:active {
    color: #c25a3d;
}

a: {
	text-decoration: none;
}

div#links {
	word-spacing: 30px;
	padding: 5px
}

div#mainHeader {
	padding: 0px
}

div#feelings{
	background-color: #fcfcfc;
}

div#progress{
	float: right;
	background-color: #f0f0ff;
	margin: -45 10 0 0;
}

div#lorem{
	margin: -15px 0 0 10;
}

div#copyright{
	padding: 7px;
}

div.rightbar {
	margin: -10px 0 0 200px;
}

div.leftbar {
	margin: -70 0 0 5;
	float: left;
}

div.topRight {
	float: right;
}

div.topLeft {
	#float: left;
}