/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#title {
	margin: 50px 0 0 0;
	text-align: center;
	float: center;
	font-size: 40px;
	font-weight: bold;
}

#user_nav {
	float: right;
	font-size: 12px;
}

#flash_notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

a:link{
	color: #333333;
}

a:visited {
	color: #dddddd;
}

a:hover {
	color: #333333;
}

a:active {
	color: #dddddd;
}

link_to: {
	text-decoration: none;
}