// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#article_list {
	font-size: 8px;
}

#h1 {
	float: left;
}

#side {
	float: right;
}


.list_title {
	background: #CCCCCC;
}

.list_line_even {
  background:   #FFFFFF;
  font-size: 8px;
  margin: 50px 0 0 0;
}

.list_line_odd {
  background:   #EEEEEE;
  font-size: 8px;
}