// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#article_list {
	font-size: 8px;
}

.list_title {
	background: #CCCCCC;
}

.list_line_even {
  background:   #FFFFFF;
  font-size: 8px;
}

.list_line_odd {
  background:   #EEEEEE;
  font-size: 8px;
}