#subtitle
  \... my cousin works for Bit.ly
#back_button
  = link_to image_tag("back.png", :border=>0) + "back", :back, :title => "go back to the previous screen."
#edit_title
  Editing "#{@article.title}"
= render 'form'