<div id="subtitle">
... not just for the country of Spain
</div>

<div id="back_button">
	<%= link_to image_tag("back.png", :border=>0) + "list all articles", articles_path, :title => "go back to articles list screen." %>
</div>
<div id="create_title">
Creating a New Article
</div>
<%= render 'form' %>
